* {
    box-sizing: border-box;
    margin:0;
}


/* ==== GRID SYSTEM ==== */




.row {
  position:relative;


}

.row [class^="col"] {
  float: left;
  margin: 0% 0%;
  min-height: 0.125rem;
  height: 100%;

}


.col-1 {
    width: 8.33%;
    background: rgba(255, 0, 0, 0.05);
  }

  .col-2 {
    width: 16.66%;
    background: rgba(255, 0, 0, 0.1);

  }

  .col-3 {
    width: 25%;

  }

  .col-4 {
    width: 33.33%;
    background: rgba(255, 0, 0, 0.2);
  }

  .col-5 {
    width: 41.67%;
    background: rgba(255, 0, 0, 0.3);

  }

  .col-6 {
    width: 50%;
    background: rgba(255, 0, 0, 0.4);
  }
  

  .col-7 {
    width: 58.33%;
    background: rgba(255, 0, 0, 0.5);
  }

  .col-8 {
    width: 66.67%;
    background: rgba(255, 0, 0, 0.6);

  }

  .col-9 {
    width: 75%;
    background: rgba(255, 0, 0, 0.7);
    border:2px solid;
  }

  .col-10 {
    width: 83.33%;
    background: rgba(255, 0, 0, 0.8);

  }

  .col-11 {
    width: 91.67%;
    background: rgba(255, 0, 0, 0.9);
  }

  .col-12 {
    width: 100%;
    background: rgba(255, 0, 0, 1);
    padding-bottom: 20px;
  }



/* This is clearfix, clearing content after each row*/
.row::after {
	content: "";
	display: table;
	clear: both;
}

div [class^="col"] {
    height:100px;
    border: 1px solid white;
   
}

/* gutter width on all col except the last */
div [class^="col"] {
  padding-right:20px;
  background:white;
}
div [class^="col"]:last-of-type{
  padding-right:0px;

}

