
body{
  font-family: sans-serif;
  line-height: 1.5;

}


.outer{
    text-align: center;
}

.page{
    max-width: 1000px;
    margin: auto;
    width:100%;

}

.topofpage{
  align-items: center;
  height:120px;
  background-color:#ffd000;

}

.navbar{
  text-align: center;
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  align-items:center;

  flex-grow:1;
  font-size:18px;
  height: 120px;
  width:100%;
  justify-content: space-between;
  padding: 30px;

}

.logo{
  align-items: center;
}

.logo_image{
  max-width: 150px;
  margin:15px;
  width:40%;
}

.logo_image:hover{
  opacity: .8;
}

.search_image{
  max-width: 50px;
  width:40%;
}


a{
  color:#292929;
  text-decoration:none;
  margin-right:20px;
}

a:hover {
  color:white;  
 }

/* INTRO content */
.intro_img{
  margin-top:0;
  padding-top: 0;
  max-width:1000px;
  width:100%;
  padding-bottom: 30px;


}
/* INTRO content */


/* HERO content */
.hero{
overflow: hidden;
margin-top:20px;
margin-bottom: 20px;
}

.hero_text_headline{
  margin-top: 10px;
  color:#d42a38;
  font-weight: bold;
  font-size: 24px;
  padding: 10px;
 text-align: center;

}

.news_headline{
  color:#292929;
  font-size: 24px;
 text-align: left;
}

.news_sub{
  padding:0;
  font-size:14px;
  color:#292929;
  text-align:left;
}

.hero_text{
  font-size:14px;
  text-align:left;
   color:#292929;
  padding: 10px;

 }

.hero_img{
  max-width:850px;
  width:100%;

}

.hero_img:hover{
  opacity: .8;
}

/* HERO content */

.cat_img{
  max-width: 300px;
  width: 100%;

}

.cat_text{
  text-align: center;
    color:#ffd000;
    font-size:20px;
}



.museum_headline{
  margin-top: 30px;
  text-align: center;
   color:#ffbf00;
   font-size: 32px;
   font-weight: bold;
   text-transform: uppercase;

}


/* CONTACT FORM */


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}