body{
  font-family: sans-serif;

}


/* HERO CONTENT */


.hero_content{
max-width: 100%
  overflow: auto;
  border: 10px solid;
  border-color:#da291c;
	font-size:16px;
	text-align: center;
  padding: 10px;


}
.hero_text_headline{
	font-weight: bold;
  text-transform: uppercase;
	font-size: 30px;
  color:#292929;
    text-align: center;
}

.hero_content img{
	width:50%;
  

}





/* SIDEBAR COMPONENT */

.side_bar{
  height:100%;
  overflow: auto;
  margin-top:20px;
  margin-bottom:20px;
padding: 10px;
  max-width: 600px;
 
  text-align: left;
 border: 3px solid;
  border-color:#ffd000;

}

.side_bar img:hover{
  animation-fill-mode: forwards;
  animation-name: changeopacity;
  animation-duration: .2s;
  animation-timing-function: ease-in-out;

}

@keyframes changeopacity{
  from{opacity:1;}
  to{opacity:.5;}
}

.side_bar .section{
   color: #292929;
   font-size: 28px;
   font-weight: bold; 
   color:#ffd000;
}

.side_bar img{
	float: right;
  max-width: 300px;
}

/* [class^="side_bar"] element that starts with */
div [class^="side_bar"]:first-of-type {
    margin: 0px;
   
}

div [class^="side_bar"]:last-of-type {
    margin: 0px;
   
}